<body>
    <div style="text-align: center;" class="col-md-12  form-row">
     <div class="col-md-2 offset-md-2">
         <input type="text" placeholder="Input Product Name" name="productName" #productName>
    </div>  
    <div class="col-md-2">
        <select class="form-control" style="margin-top: 5%;"  #categoryId>
            <option value="" selected>Choose your Category</option>
            <option *ngFor="let c of categories" 
                [value]="c.categoryId">{{c.categoryName}}</option>
        </select>
   </div>  
   <div class="col-md-2">
    <input type="date" name="createDate"  placeholder="Input Date" name="createDate" #createDate>
   </div>
   <button class="btn btn-grad wave-effect" (click)="addProduct(productName.value,categoryId.value,createDate.value)"><b>ADD PRODUCT</b></button>
        <button class="btn btn-grad wave-effect " (click)="addCategoryDialog()"><i class="fa fa-plus">ADD
                Category</i></button>

    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td>ProductId</td>
                    <td>ProductName</td>
                    <td>Category</td>
                    <td>Create Date</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of products | paginate: { itemsPerPage: 6, currentPage: p }">
                    <td><input type="text" name="productId" #productId="ngModel" [(ngModel)]="p.productId"></td>
                    <td><input type="text" name="productName" #productName="ngModel" [(ngModel)]="p.productName"></td>
                    <td>
                        <select class="custom-select" #mySelect >
                            <option value="" disabled>Choose your Category</option>
                            <option *ngFor="let c of categories" [selected]="p.categoryId == c.categoryId"
                                [value]="c.categoryId">{{c.categoryName}}</option>
                        </select>
                    </td>
                    <td><input type="date" name="createDate" #createDate="ngModel" [ngModel]="p.createDate| date:'yyyy-MM-dd'"></td>
                    <td><input type="button" class="btn btn-outline-dark" value="Update" (click)="updateRow(p,productName.value,createDate.value,mySelect.value)"> <input type="button" class="btn btn-outline-danger" value="Delete" (click)="deleteProduct(p.productId)"></td>
                </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </table>
        
    </div>
</body>